<h1><%= @lesson.title %></h1>

<%= form_for [@lesson, Comment.new], remote: true do |f| %>
  <div>
    <%= f.text_area :content, placeholder: "Be Nice" %>
  </div>
  <%= f.submit %>
<% end %>

<ul class="comments">
 <%= render @lesson.comments %>
</ul>
